<aside class="main-sidebar">

    <section class="sidebar">

      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">BARRA DE NAVEGACION</li>
        <li >
          <a href="/calcinacion">
            <i class="fa fa-dashboard"></i> <span>CALCINACIÓN</span>
            <span class="pull-right-container"></span>
          </a>
        </li>
        <li >
          <a href="/molino">
            <i class="fa fa-tasks"></i> <span>MOLINO</span>
            <span class="pull-right-container"></span>
          </a>
        </li>
        <li >
          <a href="/cinta">
            <i class="fa fa-road"></i> <span>CINTA TRANSPORTADORA</span>
            <span class="pull-right-container"></span>
          </a>
        </li>
        <li >
          <a href="/balanza">
            <i class="fa fa-balance-scale"></i> <span>BALANZA</span>
            <span class="pull-right-container"></span>
          </a>
        </li>
        <li >
          <a href="#">
            <i class="fa fa-minus"></i> <span></span>
            <span class="pull-right-container"></span>
          </a>
        </li>
      <li class="header">OPCIONES DE ADMINISTRADOR</li>
        <li><a href="../../home"><i class="fa fa-circle-o text-black"></i> <span>Pantalla Principal</span></a></li>
        <li><a href="../../usuarios/registrar"><i class="fa fa-circle-o text-red"></i> <span>Registrar Usuario</span></a></li>
        <li><a href="../../usuarios"><i class="fa fa-circle-o text-yellow"></i> <span>Lista de Usuarios</span></a></li>
        
        <li><a href="../../reportes"><i class="fa fa-circle-o text-success"></i> <span>Reportes</span></a></li>
        <li><a href="../../"><i class="fa fa-circle-o text-aqua"></i> <span></span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>