<nav class="navbar navbar-static-top">
  <!-- Sidebar toggle button-->
  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
     
      <!-- User Account: style can be found in dropdown.less -->
      <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <img src="../../img/avatar5.png" class="user-image" alt="User Image">
          <span class="hidden-xs"> </span> _ <span id="UsuariosA" class="hidden-xs"> </span> : <span id="UsuariosR" class="hidden-xs"> </span> 
        </a>
        <ul class="dropdown-menu">
          <!-- User image -->
          <li class="user-header">
            <img src="../../img/avatar5.png" class="img-circle" alt="User Image">
            <p>
              <small id="UsuariosMN"></small>
              
              <small id="UsuariosMA"></small>
            </p>
          </li>
          <li class="user-footer">
              <button href="../login.ejs" id="btnSalir" class="btn btn-primary btn-block btn-flat">Desconectar</button>
          </li>
        </ul>
      </li>
      
    </ul>
  </div>
</nav>